{% extends "template.html" %}
{% block content %}

          <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
          <a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
          <a class="btn btn-primary" href="{{ url_for('new_game') }}">New Game</a>

          <table class="table table-striped table-responsive table-bordered">
             <thead class="thead-default">
                <tr>
                    <th style="text-align: center;">Cover</th>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Category</th>
                    <th style="text-align: center;">Console</th>
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for game, cover in games_with_covers %}
               <tr>
                   <td>
                       <img src="{{ url_for('image', archive_name=cover) }}"
                            onerror="this.src='{{ url_for('image', archive_name='capa_padrao.jpg') }}'"
                            alt="{{ game.name }}"
                            style="width: 60px; height: auto;">
                   </td>
                   <td style="vertical-align: middle;">{{ game.name }}</td>
                   <td style="vertical-align: middle;">{{ game.category }}</td>
                   <td style="vertical-align: middle;">{{ game.console }}</td>
                   <td style="vertical-align: middle;">
                       <a href="{{ url_for('edit', id = game.id) }}">Edit</a>
                       <a href="{{ url_for('delete', id = game.id) }}">Delete</a>
                   </td>
               </tr>
            {% endfor %}
            </tbody>
         </table>
{% endblock %}